*{
margin: 0 px;
padding: 0px;
}

nav{
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    background-repeat: repeat-x;
    font-family: 'Helvetica', sans-serif;
    line-height: 2em;
    font-style: normal;
    color:black;
    font-size: 130%;
    font-weight: bold;
    margin-top:5px;
    margin-left: 7px;
    margin-right:1px;
    border-color:#ac6504;
  }

  nav ul{
    list-style-type: none;
    text-align: center;
    text-indent: 10px;
  }

  nav li{
    margin-left: 30px;
    margin-right:38px;
    margin-bottom: 8px;
    display:inline;
  }

  nav li a{
    text-decoration:none;
    color: black;
  }

  nav li a:hover{
    color: #ac6504;
  }

  .nav-pills > li > a.active {
background-color: #6dd8f1 !important;
}
  .nav-pills > li > a{
color: black !important;
}

.product-card {
  background-color: #f8f9fa;
  border: 2px solid #007bff; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 15px; 
  transition: transform 0.2s;
  display:flex;
  flex-direction: column;

}

.product-card:hover {
  transform: scale(1.05); 
}

.product-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; 
}

.product-thumb img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; 
}


.product-bottom-details {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

#team{
  margin-top:20px;
  margin-left:110px;
}
